* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

/* CABEÇALHO */
#cabecalho{
    background: url(./imagens/bkgcbç.svg) 0%;
    padding: 180px;
    text-align: center;
}

#logo {
    width: 800px;
}

/* SOBRE NÓS */
#titulosobre {
    text-align: center;
    background-color: #C2E7F7;
}

#titulo {
    padding-top: 25px;
}

#txtsobre {
    background-color: #C2E7F7;
    text-align: center;
}

#msvs {
    background-color: #C2E7F7;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#imgvs {
    width: 400px;
    margin-right: 10px;
}

#imgms {
    width: 400px;
}

/* SERVIÇOS */
#tituloservicos {
    text-align: center;
    padding-top: 25px;
    background-color: #EAEAEA;
}

#servicos {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding-bottom: 40px;
    background-color: #EAEAEA;
}

.card {
    padding-top: 15px;
    width: 80%;
    justify-content: space-evenly;
}

#esquerda, #esquerda2 {
    display: none;
}

#direita2 {
    display: none;
}

#direita{
    margin-right: 15px;
}

#hig, #bed, #pmoc, #cmf {
    display: none;
}

.seta {
    margin-top: 90px;
}

#saiba {
    padding: 30px;
    text-align: center;
    background-color: #EAEAEA;

}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    text-decoration: none;
    background: #038ED4;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-color: #020891;
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
}

button:hover{
    background-color: #61b8dd;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
}

/* EMPRESAS */

#tituloemp {
    text-align: center;
    background-color: #C2E7F7;
    padding-top: 25px;
    padding-bottom: 15px;
}

#empresas {
    display: grid;
    grid-auto-flow: column;
    background-color: #C2E7F7;
    justify-content: space-around;
    padding-bottom: 45px;
}

.emp {
    width: 400px;
}

/* CONTATO */

#tituloct {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #EAEAEA;
}

#sub {
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #EAEAEA;
}

input,
textarea,
button {
  width: 20%;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
  border-color: #038ED4;
}

input,
textarea {
  padding: 16px;
}

input {
  height: 10px;
}

@media only screen and (max-width: 768px){

    *{
      margin: 0px;
    }
    /* Cabeçalho */
    #cabecalho{
      width: auto;
      padding: 45px;
    }
    
    #logo{
      width: 100%;
    }
    
    /* Sobre nós */
    #titulosobre{
      font-weight: 600;
      font-size: 50px;
      margin-bottom: 0px;
    }
    
    #sobre{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    
    #imgsobre{
      width: 70%;
      height: 70%;
    }
    
    #msvs{
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      text-align: center;
    }
        
    #vs{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    #imgvs {
        width: 70%;
    }

    #ms{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
  
    #imgms {
        width: 71%;
    }
    
    /* Serviços */    
    #servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
    
    .card{
      padding-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .seta{
        align-items: start;
        padding: 0px;
    }

    /* Clientes*/ 

    #tituloemp {
        text-align: center;
    }

    #empresas {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .emp {
        width: 70%;
    }
    
    /* Contato */
    input,
    textarea,
    button {
        width: 50%;
        margin-bottom: 16px;
        border-radius: 4px;
        font-size: 16px;
    }

    input,
    textarea {
        padding: 16px;
    }

    input {
        height: 10px;
    }
}